<li>
    {{ with (index (sort (.Resources.ByType "image") ".Params.weight" "desc") 0) }}
        {{ $image := . }}
        <a href="{{ .Permalink }}">
            <img class="article_image" src="{{ $image.RelPermalink }}" alt="{{ .Title }}">
        </a>
    {{ end }}

    <div class="summary">
        <header>
            <a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a>
            <span>{{ .Date.Format "2006" }}</span>
        </header>
        <p>{{ .Description }} <a href="{{ .Permalink }}">Read more.</a></p>
        <ul class="tags">
            {{ range .Params.tags }}
                <li>{{ . }}</li>
            {{ end }}
        </ul>
    </div>
</li>
