{{ define "title" }}
  {{ .Title | emojify }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container post">
    <article>
      <header>
        <div class="post-title">
          <h1 class="title">{{ .Title | emojify }}</h1>
        </div>
        <ul class="tags">
            {{ range .Params.tags }}
                <li>{{ . }}</li>
            {{ end }}
        </ul>
      </header>

      <div>
        {{ .Content }}
      </div>
    </article>
  </section>
{{ end }}
