{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container post">
    <article>
      <header>
        {{ with .Params.cover_image }}
          <img src='{{ . }}' alt="Cover image"/>
        {{ end }}
        
        <div class="post-title">
          <h1 class="title">{{ .Title }}</h1>
        </div>
        
        <div class="post-meta">
          {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}
          {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
        </div>
      </header>

      <main>
        {{ .Content }}
      </main>
    </article>

    {{ partial "posts/math.html" . }}
  </section>
{{ end }}
