body.rtl {
  direction: rtl;

  pre {
    direction: ltr;
  }

  blockquote {
    border-left: none;
    border-right: 2px solid $alt-bg-color;
    padding-left: 0;
    padding-right: 1.6rem;
  }

  table tr td:first-child,
  table tr th:first-child {
    border-right: 0;
  }
  table tr td:last-child,
  table tr th:last-child {
    border-left: 0;
  }
}
