.content {
  flex: 1;
  display: flex;
  flex-flow: wrap;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
  article {
    header {
      margin-top: 6.4rem;
      margin-bottom: 3.2rem;
      h1 {
        font-size: 4.0rem;
        line-height: 4.6rem;
        margin: 0;
        @media only screen and (max-width : 768px) {
          font-size: 3rem;
          line-height: 3.2rem;
        }
      }
    }
    footer {
      margin-top: 4.0rem;
      .see-also {
        margin: 3.2rem 0;
        h3 {
          margin: 3.2rem 0;
        }
      }
    }
    p {
      text-align: justify;
      text-justify: auto;
      hyphens: auto;
    }
  }
  .post {
    .post-title {
      margin-bottom: .75em;
    }
    .post-meta {
      i {
        text-align: center;
        width: 1.6rem;
        margin-left: 0;
        margin-right: 0.5rem;
      }
      .date {
        .posted-on {
          margin-left: 0;
          margin-right: 1.5rem;
        }
      }
    }
  }
  figure {
    margin: 0;
    padding: 0;
  }
  figcaption p {
    text-align: center;
    font-style: italic;
    font-size: 1.6rem;
    margin: 0;
  }
}

.avatar img {
  width: 20rem;
  height: auto;
  border-radius: 50%;
  @media only screen and (max-width : 768px) {
    width: 17rem;
  }
}

.postimg {
  max-height: 138px;
  margin-left: auto;
  margin-bottom: 30px;
  -moz-box-shadow:    0px 0px 2px $img-shadow-color, 0px 0px 5px $img-shadow-color2;
  -webkit-box-shadow: 0px 0px 2px $img-shadow-color, 0px 0px 5px $img-shadow-color2;
  box-shadow:         0px 0px 2px $img-shadow-color, 0px 0px 5px $img-shadow-color2;
  border-radius: 5px;
  overflow: hidden;
  @media only screen and (max-width: 768px) {
    max-width: 400px;
    max-height: 200px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-top: 10px;
  }
  img {
    height: inherit;
    vertical-align: bottom;
    object-fit: cover;
  }
}
.summary {
  display: inline-block;
  margin: 15px auto;
  font-family: $text-font-family;
	font-size: 1.6rem;
  font-weight: normal;
  text-align: justify;
  @media only screen and (max-width: 768px) {
    font-size: 1.4rem;
    margin: 10px auto;
    max-width: 550px;
  }
}

.list {
  ul {
    margin: 3.2rem 0 3.2rem 0;
    list-style: none;
    padding: 0;
    li {
      font-size: 1.8rem;
      @media only screen and (max-width : 768px) {
        margin: 1.6rem 0 1.6rem 0;
      }
      .date {
        display: inline-block;
        flex:1;
        text-align: right;
        margin-right: 3.0rem;
        @media only screen and (max-width : 768px) {
          margin-right: 0;
          display: block;
          text-align: center;
        }
      }
      .title {
        font-size: 1.8rem;
        flex:2;
        color: $fg-color;
        font-family: $heading-font-family;
        font-weight: 700;
        &:hover,
        &:focus {
          color: $link-color
        }
        @media only screen and (max-width : 768px) {
          max-width: 550px;
          margin: 0 auto;
          display: block;
          text-align: center;
        }
      }
    }
  }
  ul:not(.pagination) {
    li {
      @media only screen and (min-width : 768.1px) {
        display: flex;
      }
    }
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  .about {
    text-align: center;
    h1 {
      margin-top: 2.0rem;
      margin-bottom: 0.5rem;
    }
    h2 {
      margin-top: 1.0rem;
      margin-bottom: 0.5rem;
      font-size: 2.4rem;
      @media only screen and (max-width : 768px) {
        font-size: 2.0rem;
      }
    }
    ul {
      cursor: pointer;
      list-style: none;
      margin: 3.0rem 0 1.0rem 0;
      padding: 0;
      li {
        display: inline-block;
        position: relative;
        a {
          color: $fg-color;
          text-transform: uppercase;
          margin-left: 1.0rem;
          margin-right: 1.0rem;
          font-size: 1.6rem;
          &:hover,
          &:focus {
            color: $link-color;
          }
          @media only screen and (max-width : 768px) {
            font-size: 1.4rem;
          }
          i {
            font-size: 3.2rem;
          }
        }
      }
    }
  }

  .error {
    text-align: center;
    h1 {
      margin-top: 2.0rem;
      margin-bottom: 0.5rem;
      font-size: 4.6rem;
      @media only screen and (max-width : 768px) {
        font-size: 3.2rem;
      }
    }
    h2 {
      margin-top: 2.0rem;
      margin-bottom: 3.2rem;
      font-size: 3.2rem;
      @media only screen and (max-width : 768px) {
        font-size: 2.8rem;
      }
    }
  }
}
