body.rtl {
  .list {
    ul {
      li {
        span {
          text-align: left;
          margin-left: 3.0rem;
          margin-right: 0;
          @media only screen and (max-device-width : 768px) {
            text-align: right;
          }
        }
      }
    }
  }
}
