.footer {
  width: 100%;
  text-align: center;
  font-family: $heading-font-family;
  line-height: 2.0rem;
  margin-bottom:1.0rem;
  a {
    color: $link-color;
  }
  @media only screen and (max-width : 768px) {
    font-size: 1.4rem;
  }
}
