.footer {
  width: 100%;
  text-align: center;
  line-height: 2.0rem;
  margin-bottom:1.0rem;
  a {
    color: $fg-color;
    font-weight: 700;
    &:hover,
    &:focus {
      color: $link-color
    }
  }
}
