img {
  height: auto;
  pointer-events: none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Aligning images only on tablet/pc, not mobile. */
@media (min-width: 550px) {
  img[alt~="_gallery"] {
    -moz-box-shadow:    0px 0px 4px $img-shadow-color, 0px 0px 9px $img-shadow-color2;
    -webkit-box-shadow: 0px 0px 4px $img-shadow-color, 0px 0px 9px $img-shadow-color2;
    box-shadow:         0px 0px 4px $img-shadow-color, 0px 0px 9px $img-shadow-color2;
    border-radius: 5px;
    max-width: 49%;
    margin-bottom: 2%;
  }
  img[alt$=">"] {
    float: right;
  }

  img[alt$="<"] {
    float: left;
  }

  img[alt$="><"] {
    display: block;
    margin: auto;
    float: none;
  }
}

/* Cleanup after gallery image */
p::after {
  content: "";
  clear: both;
  display: table;
}
