img:not(.emoji) {
  height: auto;
  -webkit-box-shadow: 0 0 3px $img-shadow-color;
  -moz-box-shadow: 0 0 3px $img-shadow-color;
  box-shadow: 0 0 3px $img-shadow-color;
  margin-bottom: 1%;
  pointer-events: none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

img[alt~="_gallery"] {
  padding: 3px;
  background-color: $img-background-color;
  @media only screen and (min-width: 550px) {
    max-width: 49.5%;
  }
}

/* Aligning images only on tablet/pc, not mobile. */
@media (min-width: 550px) {
  img[alt$=">"] {
    float: right;
  }

  img[alt$="<"] {
    float: left;
  }

  img[alt$="><"] {
    display: block;
    margin: auto;
    float: none;
  }
}

p::after {
  content: "";
  clear: both;
  display: table;
}
