.notice {
  border-radius: 0.2rem;
  position: relative;
  margin: 1rem 0;
  padding: 0 0.75rem;
  overflow: auto;

  .title {
    font-weight: 700;
    margin: 0 -0.75rem;
    padding: 0.2rem 3.5rem;

    i {
      position: absolute;
      top: 1rem;
      left: 1rem;
    }
  }
}

.notice.warning {
  background: $bg-color-notice-warning;

  .title {
    background: $bg-color-notice-warning-title;

    i {
    }
  }
}

.notice.info {
  .notice-title {
    background: $bg-color-notice-info-title;
  }
  background: $bg-color-notice-info;
}

.notice.note {
  .notice-title {
    background: $bg-color-notice-note-title;
  }
  background: $bg-color-notice-note;
}

.notice.tip {
  .notice-title {
    background: $bg-color-notice-tip-title;
  }
  background: $bg-color-notice-tip;
}
