.pagination {
  display: flex;
  justify-content: center;

  margin-top: 6rem;
  text-align: center;
  font-family: $font-family;

  li {
    display: inline;
    text-align: center;
    font-weight: 700;

    margin: 0;
    text-align: center;
    width: 2.2rem;

    a {
      font-weight: 300;
    }
  }
}
