// Fonts
$text-font-family: 'Source Serif Pro', Georgia, serif;
$heading-font-family: Lato, Helvetica, sans-serif;
$display-font-family: 'Changa One', cursive;
$code-font-family: 'Source Code Pro', 'Lucida Console', monospace;

// Colors
$bg-color: #FAFAFA !default;
$fg-color: #212121 !default;
$alt-bg-color: #E0E0E0 !default;
$alt-fg-color: #000 !default;
$link-color: #ef7e2e !default;
