// Fonts
$font-family: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
"Helvetica Neue",
Helvetica,
"游ゴシック",
"PingFang SC",
STXihei,"华文细黑",
"Microsoft YaHei","微软雅黑",
SimSun,"宋体",
Heiti,"黑体",
sans-serif;
$code-font-family: SFMono-Regular,
Consolas,
Liberation Mono,
Menlo,
monospace;

// Colors
$bg-color: #fbf1c7 !default;
$fg-color: #3c3836 !default;
$alt-bg-color: #928374 !default;
$alt-fg-color: #282828 !default;
$darker-alt-bg-color: #7c6f64 !default;
$link-color: #458588 !default;

// Dark colors
$bg-color-dark: #282828 !default;
$fg-color-dark: #EBDBB2 !default;
$alt-bg-color-dark: #928374 !default;
$alt-fg-color-dark: #EBDBB2 !default;
$lighter-alt-bg-color-dark: #A89984 !default;
$link-color-dark: #458588 !default;

// Notice colors
$fg-color-notice-note-icon: #8F3F71 !default;
$bg-color-notice-note-title: #B162861a !default;
$bg-color-notice-note-content: #D3869B1a !default;
$fg-color-notice-tip-icon: #427b58 !default;
$bg-color-notice-tip-title: #689D6A1a !default;
$bg-color-notice-tip-content: #8EC07C1a !default;
$fg-color-notice-example-icon: #6d4c41 !default;
$bg-color-notice-example-title: #7955481a !default;
$bg-color-notice-example-content: #8d6e631a !default;
$fg-color-notice-question-icon: #79740e !default;
$bg-color-notice-question-title: #98971A1a !default;
$bg-color-notice-question-content: #B8BB261a !default;
$fg-color-notice-info-icon: #076678 !default;
$bg-color-notice-info-title: #4585881a !default;
$bg-color-notice-info-content: #83A5981a !default;
$fg-color-notice-warning-icon: #b57614 !default;
$bg-color-notice-warning-title: #D799211a !default;
$bg-color-notice-warning-content: #FABD2F1a !default;
$fg-color-notice-error-icon: #9d0006 !default;
$bg-color-notice-error-title: #CC241D1a !default;
$bg-color-notice-error-content: #FB49341a !default;

// Path to FontAwesome TTF/WOFF files.
$fa-font-path: "../fonts" !default;
