{{ define "title" }}
  {{- i18n .Data.Singular | title -}}
  {{- print ": " -}}

  {{- .Title }} · {{ .Site.Title -}}
{{ end }}

{{ define "content" }}
  <section class="container list">
    <h1>Content(s) with the {{ .Data.Singular }} "{{ .Data.Term }}"</h1>
    
    <ul>
      {{ range .Pages.GroupBy "Section" }}
        <h2>{{ .Key | humanize }}</h2>
        
        <ul>
          {{ range .Pages }}
            <li>
              {{ with .Date }}
                <span class="date">{{ .Format ($.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
              {{ end }}
              <a class="{{ with not .Date }}nodate{{ end }} title" href="{{ .Params.ExternalLink | default .RelPermalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </ul>
  </section>
{{ end }}
