<script>
  function isSessionSetSwa() {
    return sessionStorage.getItem("_swa")
  }
  function isReferrerDifferentFromCurrentSiteSwa() {
    return document.referrer.indexOf(location.protocol+"//"+location.host) !== 0
  }
  if(!isSessionSetSwa() && isReferrerDifferentFromCurrentSiteSwa()) {
    const trackingUrl = "https://counter.dev/track?"
    const parameters = new URLSearchParams({referrer:document.referrer,screen:screen.width+"x"+screen.height,user:"{{ $.Site.Params.counterdev.user }}",utcoffset:"2"})
    fetch(trackingUrl+parameters)
  }
  sessionStorage.setItem("_swa","1");
</script>
