{{ $currentPageUrl := .RelPermalink }}
{{ if .Params.series }}
<section class="see-also">
  {{ range .Params.series }}
    {{ $name := . | urlize }}
    {{ $series := index $.Site.Taxonomies.series $name }}
    {{ if gt (len $series.Pages) 1 }}
      <h3>{{ i18n "see_also" | default "See also in" }} {{ . }}</h3>
      <nav>
        <ul>
        {{ $maxItems := $.Site.Params.maxSeeAlsoItems | default 5 }}
        {{ range first (add $maxItems 1) $series.Pages }}
          {{ if ne .RelPermalink $currentPageUrl }}
            <li>
              <a href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
        {{ end }}
        </ul>
      </nav>
    {{ end }}
  {{ end }}
</section>
{{ end }}
