<section class="container grid">
    <h1 class="title">{{ .Title }}</h1>
   
    <div class="grid-wrapper">
        {{ range .Paginator.Pages }}
        <div class="grid-item">
            <a href="{{ .URL }}">
                <img class="grid-item-img" src="{{ .Params.image}}" width="350px" height="150px"/>
                <span class="grid-item-title">{{ .Title }}</span>
                <div class="tags">
                    {{ range .Params.tags }}
                        {{ . }}
                    {{ end }}
                </div>
            </a>
        </div>
        {{ end }}
        </ul>
    </div>
    {{ partial "pagination.html" . }}
  </section>
  
