<section class="container grid">
    <h1 class="title">{{ .Title }}</h1>
   
    <div class="grid-wrapper">
        {{ range .Paginator.Pages }}
        <div class="grid-item">
            <a href="{{ .Permalink }}">
                <img class="grid-item-img" src="{{ .Params.image}}" width="350px" height="150px"/>
                <span class="grid-item-title">{{ .Title }}</span>
                <div class="grid-item-summary">
                        {{ .Summary }}
                </div>
            </a>
        </div>
        {{ end }}
    </div>
    {{ partial "pagination.html" . }}
  </section>