<nav class="navigation">
  <section class="container">
    <a class="navigation-title" href="{{ .Site.BaseURL | relLangURL }}">
      {{ .Site.Title }}
    </a>
    {{ if or .Site.Menus.main .Site.IsMultiLingual }}
    <span id="dark-mode-toggle" class="menu-button float-right">
      <svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M22 41C32.4934 41 41 32.4934 41 22C41 11.5066 32.4934 3 22
              3C11.5066 3 3 11.5066 3 22C3 32.4934 11.5066 41 22 41ZM7 22C7
              13.7157 13.7157 7 22 7V37C13.7157 37 7 30.2843 7 22Z"></path>
      </svg>
    </span>
    <input type="checkbox" id="menu-toggle" />
    <label class="menu-button float-right" for="menu-toggle"><i class="fas fa-bars"></i></label>
    <ul class="navigation-list">
      {{ with .Site.Menus.main}}
        {{ range sort . }}
          <li class="navigation-item">
            <a class="navigation-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      {{ end }}
      {{ if .Site.IsMultiLingual }}
        {{ $node := . }}
        {{ .Scratch.Set "separator" true }}
        {{ range (default .Site.Home.AllTranslations .Translations) }}
          {{ if ne $.Site.Language .Language }}
            {{ if $node.Scratch.Get "separator" }}
              <li class="navigation-item menu-separator">
                <span>|</span>
              </li>
              {{ $node.Scratch.Set "separator" false }}
            {{ end }}
            <li class="navigation-item">
              <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            </li>
          {{ end }}
        {{ end }}
      {{ end }}
      <li class="navigation-item separator">
        <span>|</span>
      </li>
    </ul>
    {{ end }}
  </section>
</nav>
