<nav class="navigation">
  <section class="container">
    <a class="navigation-title" href="{{ print "/" | absLangURL }}">
      {{ .Site.Title }}
    </a>
    <ul class="navigation-list {{ if $.Site.Params.rtl }} float-left {{ else }} float-right {{ end }}">
      {{ with .Site.Menus.main}}
        {{ range sort . }}
          <li class="navigation-item">
            <a class="navigation-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      {{ end }}
      {{ if .Site.IsMultiLingual }}
        {{ $node := . }}
        {{ .Scratch.Set "separator" true }}
    
        {{ range .Site.Home.AllTranslations }}
          {{ if ne $.Site.Language .Language }}
            {{ if $node.Scratch.Get "separator" }}
              <li>
                <p>{{ .Site.Params.LangSeparator }}</p>
              </li>
              {{ $node.Scratch.Set "separator" false }}
            {{ end }}
            <li>
              <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            </li>
          {{ end }}
        {{ end }}
      {{ end }}
    </ul>
  </section>
</nav>
