<section class="container centered">
  <div class="about">
    {{ if and (isset .Site.Params "avatarurl") (not (isset .Site.Params "gravatar")) }}
      {{ with .Site.Params.avatarURL }}
        <div class="avatar"><img src="{{ . | relURL }}" alt="avatar" width="200px" height="200px"></div>
      {{ end }}
    {{ end }}
    {{ with .Site.Params.gravatar }}
      <div class="avatar"><img src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" alt="gravatar" width="200px" height="200px"></div>
    {{ end }}
    <h1>{{ .Site.Params.author }}</h1>
    <h2>{{ .Site.Params.info }}</h2>
    {{ with .Site.Params.social }}
    <ul>
      {{ range sort . "weight" }}
        {{ if .icon }}
          <li>
            <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }} {{ if .type }}type="{{ .type }}"{{ end }}>
              <i class="{{ .icon }}" aria-hidden="true"></i>
            </a>
          </li>
        {{ else }}
          <li>
            <a href="{{ .url | safeURL }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }} {{ if .target }}target="{{ .target }}"{{ end }}>{{ .name }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
    {{ end }}
  </div>
</section>
{{ if .Site.Params.showLatest }}
{{ if .Site.Params.showLatestType }}
<section class="list latest">
  <h3 class="title">Latest Posts</h3>
  <div class="latestposts">
  {{ range first .Site.Params.showLatest (where .Paginator.Pages "Section" .Site.Params.showLatestType) }}
    <ul class="latestpost">
      <li>
        <span>{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
        <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">
        {{ .Title }}
          <div class="latestimg">
            {{- with .Params.images -}}
              {{ $imgPath := add "/content" ( index . 0 ) }}
              {{ if fileExists $imgPath }}
                {{ $img := imageConfig $imgPath }}
                <img
                  src="{{ index . 0 }}"
                  alt="article image"
                  loading="lazy"
                  width="{{ $img.Width }}"
                  height="{{ $img.Height }}"
                />
              {{ else }}
                {{ $imgPath := add "/static" ( index . 0 ) }}
                {{ if fileExists $imgPath }}
                  {{ $img := imageConfig $imgPath }}
                  <img
                    src="{{ index . 0 }}"
                    alt="article image"
                    loading="lazy"
                    width="{{ $img.Width }}"
                    height="{{ $img.Height }}"
                  />
                  {{ end }}
              {{ end }}
            {{ else -}}
            {{- $images := .Resources.ByType "image" -}}
            {{- $featured := $images.GetMatch "*feature*" -}}
            {{- if not $featured }}{{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}{{ end -}}
            {{- with $featured -}}
              {{ $imgPath := add "/content" $featured.Rel }}
              {{ if fileExists $imgPath }}
                {{ $img := imageConfig $imgPath }}
                <img
                  src="{{ $featured.Rel }}"
                  alt="article image"
                  loading="lazy"
                  width="{{ $img.Width }}"
                  height="{{ $img.Height }}"
                />
              {{ else }}
                {{ $imgPath := add "/static" $featured.Rel }}
                {{ if fileExists $imgPath }}
                  {{ $img := imageConfig $imgPath }}
                  <img
                    src="{{ $featured.Rel }}"
                    alt="article image"
                    loading="lazy"
                    width="{{ $img.Width }}"
                    height="{{ $img.Height }}"
                  />
                  {{ end }}
              {{ end }}
            {{- else -}}
            {{- with $.Site.Params.images -}}
              {{ $imgPath := add "/content" ( index . 0 ) }}
              {{ if fileExists $imgPath }}
                {{ $img := imageConfig $imgPath }}
                <img
                  src="{{ index . 0 }}"
                  alt="article image"
                  loading="lazy"
                  width="{{ $img.Width }}"
                  height="{{ $img.Height }}"
                />
              {{ else }}
                {{ $imgPath := add "/static" ( index . 0 ) }}
                {{ if fileExists $imgPath }}
                  {{ $img := imageConfig $imgPath }}
                  <img
                    src="{{ index . 0 }}"
                    alt="article image"
                    loading="lazy"
                    width="{{ $img.Width }}"
                    height="{{ $img.Height }}"
                  />
                {{ end }}
              {{ end }}
            {{- end -}}
            {{- end -}}
            {{- end }}
          </div>
        </a>
      </li>
    </ul>
  {{ end }}
  </div>
  <a style="display: block;margin-top: 30px;" href="/{{ .Site.Params.showLatestType }}">See all</a>
</section>
{{ end }}
{{ end }}
