<section class="about-container">
  <article class="about container">
    <div class="intro">
      {{ with .Site.Params.avatarurl }}
        <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
      {{ end }}
      <div>
      <h1>{{ .Site.Params.author }}</h1>
      {{ if .Site.Params.info }}
        <h2>{{ .Site.Params.info | markdownify }}</h2>
      {{ end }}
      </div>
      {{ with .Site.Params.social }}
      <ul>
        {{ range sort .}}
          <li>
            <a href="{{ .url | safeURL }}" class="icon-link" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }}>
              {{ partial "icon.html" .icon }}
            </a>
          </li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
  </article>
</section>
<section class="container">
  <article class="home-content">
  {{ with .Content }}
  {{ . }}
  {{ end }}
  </article>
</section>
